body {
    font-family: Arial, Helvetica, sans-serif;
}
table {
    width: 500px;
    border-collapse: collapse;
}
 td, th {
    border: 2px solid black;
    padding: 10px;
 }
 caption {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
 }
 thead, tfoot {
    background-color: #8597a8;
    color: white;
 }

  .nume1,.nume2,.nume3,.nume4 {
    text-align: right;
  }

  .cori,.san{
    background-color:#383838;
  }
   .palme{
    background-color: rgb(56, 167, 89);
  }
   .sp{
    background-color: rgb(148, 20, 20);
  }

    .nume1,.nume4{
    background-color:#383838;
  }
   .nume2{
    background-color: rgb(56, 167, 89);
  }
   .nume3{
    background-color: rgb(148, 20, 20);
  }

.cori,.san{
    color: white;
}

.nume1,.nume4{
    color: white;
}