body {
font-family: Arial, Helvetica, sans-serif;
}
table {
border-collapse: collapse;

}
caption {
font-size: 22px;
}
th, td {
border: 1px solid gray;
}
img{
height: 50px;
width: 75px;
}