 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     background-color: black;
     font-family: Arial;
 }

 h1 {
     text-align: center;
     font: size 40px;
     color: white;
 }

 .camisas {
     display: block;
     margin-right: auto;
     margin-left: auto;
 }

 .link1 {
    display: block;
    text-align: center;
    color: white;
    font-size: 30px ;
    font-family: Arial;
    text-decoration: none;
    
 }
 .escolhas {
      font-size: 25px;
      color: white;
      display: block;
      position: absolute;
      top: 30%; 
      font-family: Arial;
      text-decoration: none;
  }
  .escolhasti {
    
     text-align: center;
     font: size 40px;
     color: white;
  }

  .link2 {
    display: block;
    text-align: center;
    color: white;
    font-size: 30px ;
    font-family: Arial;
    text-decoration: none;
    text-align: left;
    margin-left: 50px;
  }
  header,label {
    
    height: 100px;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 35px;

  }
  label{
    position: relative;
    top: 30px;
    font-size: 40px;
    
  }
  .imgtopo{
    background-color: white;
    display: flex;
    text-align: left;
    margin-left: 0%;
    position: absolute;
    top: 0%;
  }
  .bom1 {
     display: block;
     align-items:right;
     width: 730px;
     position: absolute;
     top: 25%; 
     left: 50%;
     justify-content: right;

  }
  